*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

/* Primo blocco */
.container{
  text-align: center;
}
#logos{
  width: 100%;
}
h1{
  display: inline-block;
  margin: 5% 0;
  font-weight: 300;
  font-size: 45px;
}
.bluetitle{
  color: #428bca;
}
.bluetitle .smaller{
  font-size: 18px;
}
h3{
  color: #565A5C;
  font-size: 35px;
  margin: 5% 0;
  font-weight: 300;
}
.description{
  font-size: 20px;
  font-weight: 300;
  padding: 0 5% 15%;
  color: #565a5c;
}
.description > b{
  font-weight: 400;
}

/* Secondo blocco */
.background-grey{
  width: 100%;
  background-color: #F9F9F9;
}
.background-grey h1{
  margin-bottom: 2%;
}
.backgroundblue{
  display: inline-block;
  border-radius: 50%;
  background-color: #428bca;
  margin: 5% 0 2% 0;
}
.background-grey h2{
  font-size: 32px;
  color: #565a5c;
  font-weight: normal;
  padding: 2% 0 5%;
}
.background-grey p{
  color: #565a5c;
  padding: 0 10%;
}
#lastparagraph{
  margin-bottom: 10%;
}
.backgroundblue img{
  padding: 30px;
  width: 150px;
}
hr{
  width: 40%;
  border-top: 3px double black;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
}

/* terzo blocco */
#lessmargin{
  margin-bottom: 2%;
}
.imgwhere{
  height: 200px;
}

/* quarto blocco */
.background-pic{
  background-image: url("http://cademi.it/bundles/fabcademi/img/jumbotron/banner-home2.jpg");
  background-size: cover;
  /* height: 600px; */
}
.background-pic h1{
  color: white;
  font-size: 72px;
  margin-top: 10%;
}
.background-pic h2{
  color: white;
  font-size: 40px;
  font-weight: 300;
}
.background-pic button{
  height: 50px;
  color: #1b304d;
  background-color: lightgrey;
  font-size: 13px;
  font-weight: 800;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 6px;
  margin: 15% 0 20%;
}

/* MEDIA QUERY */
@media screen and (max-width: 800px){
  .container{
    max-width: 600px;
  }
  #logos{
    display: none;
  }
  .container .col-4{
    width: 100%;
  }
  .container .col-6{
    width: 100%;
  }
  .background-pic button{
    /* position: relative;
    right: 50%;
    margin-left: 0;
    transform: translateX(-50%); */
  }

}
@media screen and (max-width: 400px){
  .background-grey p{
    padding: 0;
  }
  .imgwhere{
    width: 200px;
    height: 125px;
  }
  .background-pic h1{
    font-size: 40px;
  }
  .background-pic h2{
    font-size: 30px;
  }
}
